type,name,elevation_m
team,Bolivia,3637
team,Ecuador,2850
team,Colombia,2640
team,Mexico,2240
venue,Mexico City,2240
venue,Guadalajara,1566
venue,Toluca,2660
venue,Monterrey,540
venue,Miami,2
venue,La Paz,3637
venue,Quito,2850
venue,Bogota,2640
