[
  {"home": "Spain", "away": "Saudi Arabia", "date": "2026-06-21"},
  {"home": "Uruguay", "away": "Cape Verde", "date": "2026-06-21"},
  {"home": "Cape Verde", "away": "Saudi Arabia", "date": "2026-06-26"},
  {"home": "Spain", "away": "Uruguay", "date": "2026-06-26", "kickoff": "2026-06-26T19:00:00-04:00"},
  {"home": "Mexico", "away": "South Korea", "date": "2026-06-20", "city": "Mexico City", "mando": 40}
]
